html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
li{
    list-style-type: none;

}
p{ 
    color:rgba(0, 0, 0, 0.6);
}

.headContent{
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-container{
    background-color: rgba(255, 255, 255, 0.5);
}
Link{
    color :rgba(0, 0, 0, 0.6);
}
.NavLink {
    font-size: 1.2rem;
    font-weight:600
}
.logo {
    /* color : rgba(0, 0, 0, 0.3) */
    color : rgb(2, 114, 130);
}
.banner-contentainer{
    height: 75vh;
    width: 100%;
}
.banner-contentainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
}

.container-AccueilSolutionDeplacement{
    width: 100%;
    overflow: hidden;
    min-height: 50vh;
}
.maReservationBtn{
    background-color: rgb(255,255,255);
    color :rgba(0, 0, 0, 0.4)
}
.maReservationBtn:hover{
    background-color: rgba(255,255,255 , 0.5);
    transition : 0.5s
}
.btnAccueilVoirTousArticles{
    background-color: rgb(2,114,130);
    color :rgba(255,255,255)
}
.btnAccueilVoirTousArticles:hover{
    background-color: rgba(2,114,130 , 0.8);
    transition : 0.5s
}

.footerTitle , .copyrightFooter{
    color : whitesmoke
}
.footerParagraphe {
    color:rgba(255, 255, 255, 0.8);
}
/* .tarifReservationActive{
    transform: scale(1 , 1.1 ) ;
    border-radius:"5px" ;
    background-color: rgb(2,114,130);
    color:rgba(255, 255, 255);
}
.tarifReservationActive p{
    color: rgba(255, 255, 255 , 0.8);
} */

.navbarFixed {
    position : fixed ; 
    top : 0 ; 
    left : 0;
    z-index: 99;
    width: 100%;
    background-color: rgb(2,114,130);
    transition: 0.5s;
}

.navbarFixedColor {
    color: whitesmoke;
}

.styleHideContainer  {
    /* display: block ;  */
    transform : translate(0 , 200%);
    opacity : 0;
    transition : 1.5s
}
.styleShowContainer  {
    transform : translate(0 , 0);
    opacity : 1;
    transition : 1.5s
}

.styleShowNavettePremium {
    transform : translate(0 , 0);
    display: block;
    opacity: 1;
    transition : 1.8s
}
.styleHideNavettePremium {
    display: block;
    opacity: 0;
    transform : translate(-50% , -100%) ; 
    transition : 1.8s
}

.styleShowLocationVoiture {
    transform : translate(0 , 0);
    display: block;
    opacity: 1;
    transition : 1.8s
}
.styleHideLocationVoiture {
    transform : translate(50% , -100%); 
    display :block;
    opacity: 0;
    transition : 1.8s
}

.styleShowPlane {
    /* transform : translate(0 , 0); */
    opacity: 1;
    transition : 1.8s
}
.styleHidePlane {
    transition : 1.8s ;
    opacity: 0; 
}
.styleHideTarifNavette{
    opacity: 0;
    transition : 1.5s
}
.styleShowTarifNavette{
    opacity: 1;
    transition : 3s
}

.styleHideCharteQualite{
    opacity: 0;
    transition : 1.5s
}
.styleShowCharteQualite{
    opacity: 1;
    transition : 1.5s
}

.styleShowNosEngagement {
    transform : translate(0 , 0);
    /* display: block; */
    opacity: 1;
    transition : 1.8s
}
.styleHideNosEngagement {
    transform : translate(-100% , 0); 
    display :none;
    opacity: 0;
    transition : 1.8s
}

.styleShowMaReservation {
    transform : translateX( 0);
    display: block;
    opacity: 1;
    transition : 1.8s
}
.styleHideMaReservation {
    transform : translateX(110%); 
    display :none;  
    transition : 1.8s
}

.styleHideActualiteInfo{
    opacity: 0;
    transition : 1.5s
}
.styleShowActualiteInfo{
    opacity: 1;
    transition : 0.5s
}
.styleShowElmtActuInfo {
    transform : translate(0 , 0);
    display: block;
    opacity: 1;
    transition : 1.8s
}
.styleHideElmtActuInfo {
    transform : translate(0% ,100%); 
    display :block;
    opacity: 0;
    transition : 1.8s
}
.styleShowTemoignage {
    transform : translate(0 , 0);
    display: block;
    opacity: 1;
    transition : 1.8s
}
.styleHideTemoignage {
    transform : translate(0% ,100%); 
    display :block;
    opacity: 0;
    transition : 1.8s
}

 .fleche{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(2,114,130);
    color: white;  
    transition: 1s;
 }
.showFleche{  
    display: block;
    transition:1s;
}

.hideFleche{ 
    display: none;
    transition:1s;
}

.navettePremiumBtn{
    background-color: rgb(2,114,130);
    color: white;
    transition: 0.5s;
}
.navettePremiumBtn:hover{
    background-color: rgba(2,114,130, 0.8);
    color: white;
    transition: 0.5s;
}